.active{
    color: black;
}

nav{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFCFC;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 50;
  font-size: 1.2rem;
}

nav .title{
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #2980B9;
}
nav .title:hover{
    color:#5D6D7E;  
}
nav .foodcount{
    font-size: 0.8rem;
    padding-left: 5px;
}


nav ul{
    display: flex;

}



nav ul li{
    list-style: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color:#2C3E50;
    padding: 0.4rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    color:#5D6D7E;   
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;

}

nav .menu span{
    height: 0.4rem;
    width: 100%;
    background-color: #2C3E50;
    border-radius: 0.2rem;
  
}

@media (max-width:480px){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }

    nav ul{
         display: none; 
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.2rem 0.2rem;
    }
}

.icon-wrapper{
    position:relative;
    float:left;
    display: flex;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
   
    text-align:center;
    vertical-align:middle;
}
.badge{
    background: #21618C;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-13px;
    right:-8px;
    padding:5px;
    color: #FFF;

}
.fa-shopping-cart  {
    color: #2E86C1;
    transition: 500ms;
  }
      
  .fa-shopping-cart :hover  {
    color: #73C6B6;
    transition: 500ms;
  }
